
.experience-bgcolor {
    background: var(--primary-color);
    text-align: center;
    padding-block: 90px;
    color: white;
}

.experience-btn button {
    width: 250px;
    height: 6vh;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    background-color: white; 
    color: black;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.experience-btn button:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}
