
*{
  margin: 0;
  padding: 0;

}

.herodiv-bgimg {
  position: relative;
  background-image: url('../img/imahe.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;

  overflow: hidden;
}


.herodiv-bgimg::before {
  content: "";
  position: absolute;
  top:0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}




.herodiv-text {
  color: white;

  z-index: 2;

  padding: 20px;
}

.herodiv-text h1 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.herodiv-text p {
  font-size: 16.5px;
  margin-bottom: 25px;
  color: #e0e0e0;
}


.herodiv-text button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
 border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.herodiv-text button:hover{
    background: var(--secondary-color);
  box-shadow: 0 0 12px rgba(255, 102, 196, 0.6);
  transform: translateY(-5px) !important;
}
.SPANDIV{
    color: var(--primary-color);
}
@media screen and (max-width: 768px) {
  .herodiv-bgimg {
    height: 80vh;
  }
  .herodiv-text h1 {
    font-size: 28px;
  }
  .herodiv-text p {
    font-size: 14px;
  }
  .herodiv-text button {
    padding: 10px 20px;
    font-size: 14px;
  }
}


@media screen and (max-width: 480px) {
  .herodiv-bgimg {
    height: 60vh; 
    padding: 10px;
  }
  .herodiv-text {
    padding: 10px;
  }
  .herodiv-text h1 {
    font-size: 28px;
    line-height: 1.2;
  }
  .herodiv-text p {
    font-size: 15px;
  }
  .herodiv-text button {
    padding: 13px 23px;
    font-size: 13px;
  }
}